ul.specs {
  clear: both;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.specs > li {
  display: inline-block;
  width: 200px;
  vertical-align: top;
}

ul.specs > li > span {
  font-weight: bold;
  font-size: 1.2em;
}